:root {
    --primario: #7abe47;
    --secundario: #ffcb45;
    --negro: #000000;
    --claro: #ffffff;
    --gris: #eeeeee;
    --oscuro: #57a42b;
    --padding: 1rem;
    --padding2: 2rem;
}

html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    background-color: var(--gris);
    font-family: "Roboto", sans-serif;
    /* color: black; */
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin: 1rem 0;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 2rem;
}
p {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.boton {
    background-color: var(--primario);
    display: block;
    padding: var(--padding);
    text-align: center;
    color: var(--claro);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(var(--primario));
    transition: all 0.5s ease-in-out;
}
.boton:hover {
    background-color: var(--claro);
    color: var(--primario);
}
/* a {
    color: gris;
    text-decoration: none;

} */
/* a:hover {
    text-decoration: underline;
} */
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    margin-top: 2rem;
    background-color: var(--primario);
    padding: var(--padding);
}
.header .barra {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    justify-content: center;
}
header .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
header .menu a {
    text-align: center;
    color: var(--claro);
    text-decoration: none;
    font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
    .header .barra {
        grid-template-columns: 30% 1fr 30%;
        justify-content: space-around;
        grid-template-rows: unset;
    }
    .header .menu {
        grid-column: 3 / 4;
        display: grid;
        align-content: center;
    }
}

/* Nosotros */
.nosotros {
    text-align: center;
    margin-top: 2rem;
}
@media screen and (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 2rem;
        text-align: left;
    }
}
.contenido-nosotros {
    display: grid;
    align-content: center;
}
.venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}
.venta img {
    width: 100%;
}
.destacada {
    grid-column: 1 /3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
    .venta {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}
.card {
    background-color: var(--claro);
    padding: var(--padding);
    border: 1px solid darkgray;
}
.card p {
    font-size: 0.9rem;
    line-height: 1.8rem;
}
.anuncio {
    display: grid;
}
.anuncio .precio {
    font-size: 1.4rem;
    font-weight: 400;
}
.precio span {
    font-weight: 300;
    color: var(--primario);
}

/* Footer */
.footer {
    background-color: var(--primario);
    margin-top: var(--padding2);
    padding-top: var(--padding2);
    color: var(--claro);
}
@media screen and (min-width: 768px) {
    .footer .contenedor {
        display: grid;
        grid-template-columns: 30% 20% 2fr;
        gap: 2rem;
    }
}

.widget h3 {
    margin-bottom: 2rem;
}
.widget p {
    font-size: 1rem;
    margin: 0;
}
.widget .contenedor-casas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.widget .contenedor-casas .casa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.navegacion a {
    display: block;
    color: var(--claro);
    font-size: 1.4rem;
    text-decoration: none;
    margin-bottom: 1rem;
}
.footer .copyright {
    background-color: var(--oscuro);
    margin: 3rem 0 0 0;
    text-align: center;
    padding: 1rem;
    font-weight: 300;
}
