
h2 {
    margin: 0;
}
.servicios {
    border: 3px solid black;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, 50%);
    grid: repeat(2, 50%) /  50% repeat(2, 10% 15%);
}

.servicio {
    color: white;
    text-align: center;
}

.servicio-1 {
    background-color: darkviolet;
}

.servicio-2 {
    background-color: limegreen;
}
.servicio-3 {
    background-color: teal;
}
