* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff5e62,
        #ff9966
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff5e62,
        #ff9966
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "IBM Plex Serif", serif;
}

.contenedor {
    background-color: white;
    min-height: calc(100vh - 20px);
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3f51b5;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 1rem;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

/* SENCILLO */
.sencillo ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.sencillo ul li {
    text-align: center;
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
    .sencillo ul {
        flex-direction: row;
    }
    .sencillo ul li {
        flex: 1;
        margin-bottom: 0;
    }
}

/* ICONOS */
@media screen and (min-width: 480px) {
    .iconos ul {
        display: flex;
        flex-wrap: wrap;
    }
    .iconos ul li {
        flex: 0 1 50%;
    }
}
@media screen and (min-width: 768px) {
    .iconos ul li {
        flex: 1;
    }
}
.iconos ul li a {
    display: flex;
    justify-content: center;
}
.iconos .icono {
    flex: 0 0 3rem;
    font-size: 2rem;
}
.iconos .texto {
    font-size: 1.4rem;
}
.iconos .texto span {
    font-size: 0.8rem;
    display: block;
    margin-top: 0.5rem;
}

/* DROPMENU */
.dropdown ul {
    display: flex;
    flex-direction: column;
}
.dropdown ul li {
    display: flex;
    flex-direction: column;
}
.dropdown ul li ul {
    margin-top: 1rem;
}
.dropdown ul li ul li:hover {
    background-color: #ff5e62;
}
@media screen and (min-width: 768px) {
    .dropdown ul {
        flex-direction: row;
        /* justify-content: space-between; */
    }
    .dropdown ul li {
        flex: 1 1 100%;
        position: relative;
    }
    .dropdown ul li:hover ul {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .dropdown ul li ul {
        background-color: #ff5e62;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}

/* REDES */
.sociales ul {
    display: flex;
    justify-content: flex-end;
}
.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
}
.sociales ul li a[href*="facebook.com"]::before {
    content: "\f09a";
}
.sociales ul li a[href*="twitter.com"]::before {
    content: "\f099";
}
.sociales ul li a[href*="youtube.com"]::before {
    content: "\f167";
}
.sociales ul li a[href*="instagram.com"]::before {
    content: "\f16d";
}
.sociales ul li a[href*="pinterest.com"]::before {
    content: "\f0d2";
}
.sociales ul li span {
    display: none;
}
