<div class="pagina">
    <header class="header">
        <div class="nombre-sitio">
            <h1 class="escritorio">Admin Flex</h1>
            <h1 class="movil">AF</h1>
        </div>
        <div class="barra">
            <div class="menu-izquierdo">
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="menu-derecho">
                <div class="caja mensaje">
                    <a href="#">
                        <i class="fas fa-comment-alt"></i>
                        Mensajes
                        <span>20</span>
                    </a>
                </div>
                <div class="caja alertas">
                    <a href="#">
                        <i class="fas fa-bell"></i>
                        Alertas
                        <span>10</span>
                    </a>
                </div>
                <div class="caja cerrar">
                    <a href="#">
                        Cerrar sesion
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="contenedor-principal">

    </main>
</div>
