body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
  background-color: white;
  height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
h1,
h2 {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
}
h2 {
  color: white;
}

.contenedor-flex {
  display: flex;
  border: 3px solid black;
  /* Direcciones */
  flex-direction: row;
  /* Wrap */
  flex-wrap: wrap-reverse;
  /* Flex flow */
  flex-flow: row wrap;

  /* Alinear elementos horizontalmente*/
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-around;

  /* Alinear elementos verticalmente */
  height: 400px;
  align-items: flex-start;
  align-items: flex-end;
  align-items: baseline;
  align-items: center;
}

.elemento-flex {
  padding: 10px;
  /* flex: 1 0 auto; */
}
.elemento-flex:nth-child(1) {
  background-color: #e53935;
}

.elemento-flex:nth-child(2) {
  background-color: #8e24aa;
}

.elemento-flex:nth-child(3) {
  background-color: #3f51b5;
}

@media screen and (max-width: 768px) {
  .elemento-flex:nth-child(2) {
    order: 0;
    background-color: #8e24aa;
  }

  .elemento-flex:nth-child(3) {
    order: -1;
    background-color: #3f51b5;
  }
}
