<header class="site-header">
    <img src="../assets/img/logo.svg" alt="logotipo" class="logotipo">
</header>

<main class="formulario-login contenedor">
    <form action="#">
        <legend>Inicia Sesion</legend>
        <div class="campo">
            <input type="text" id="usuario">
            <label>Email o número de teléfono</label>
        </div>
        <div class="campo">
            <input type="password" id="password">
            <label>Contraseña</label>
            <span>Mostrar</span>
        </div>
        <div class="submit">
            <input type="submit" value="Iniciar sesion">
        </div>
        <div class="acciones">
            <div class="recuerdame">
                <input type="checkbox">
                <label>Recuerdame</label>
            </div>
            <div class="ayuda">
                <a href="#">¿Necesitas ayuda?</a>
            </div>
        </div>
    </form>
    <div class="contenido-inferior">
        <a href="#">Iniciar sesion con Facebook</a>
        <p href="#" class="nuevo-usuario">
            ¿Primera vez en Netflix? <a href="#">Suscribete ya</a>
        </p>
    </div>
</main>
<footer class="site-footer">
    <div class="contenedor">
        <p>¿Preguntas? Llama al 915151554</p>
        <nav class="menu-footer">
            <a href="">Terminos de las tarjetas de regalo</a>
            <a href="">Terminos de uso</a>
            <a href="Declaracion de privacidad"></a>
        </nav>
        <select class="lenguaje">
            <option value="eng">Ingles</option>
            <option value="esp">Español</option>
        </select>
    </div>
</footer>
<!-- <script src="scripts.js"></script> -->
