body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "IBM Plex Serif", serif;
}

.contenedor {
  background-color: white;
  min-height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

nav {
  background-color: #3f51b5;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 1rem;
}
nav ul li:hover {
  background-color: #1a2770;
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* SENCILLO */
.sencillo ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sencillo ul li {
  text-align: center;
  margin-bottom: 20px;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .sencillo ul {
    flex-direction: row;
  }
  .sencillo ul li {
    margin-bottom: 0px;
  }
}

/* ICONOS */
.iconos ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.iconos ul li a {
  display: flex;
  justify-content: center;
  flex: 1;
}
.iconos .icono {
  font-size: 2rem;
  flex: 0 0 3rem;
}
.iconos .texto {
  font-size: 1.4rem;
}
.iconos .texto span {
  font-size: 0.8rem;
  display: block;
  margin-top: 10px;
}
@media screen and (min-width: 480px) {
  .iconos ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .iconos ul li {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 768px) {
  .iconos ul li {
    flex: 1;
  }
}

/* DROPDOWN */
@media screen and (min-width: 768px) {
  .dropdown ul {
    display: flex;
    justify-content: space-between;
  }
  .dropdown ul li {
    position: relative;
    flex: 1 1 100%;
  }
}
.dropdown ul li ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .dropdown ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .dropdown ul li:hover ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ff5e62;
    margin: 0;
  }
}
.dropdown ul li ul li:hover {
  background-color: #f14548;
}

/* REDES SOCIALES */
.sociales ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 0 auto;
}
.sociales ul li span {
  display: none;
}
.sociales ul li a:before {
  font-family: "Font Awesome 5 Brands";
}
.sociales ul li a[href*="facebook.com"]::before {
  content: "\f39e";
}

.sociales ul li a[href*="twitter.com"]::before {
  content: "\f099";
}
.sociales ul li a[href*="youtube.com"]::before {
  content: "\f431";
}
.sociales ul li a[href*="instagram.com"]::before {
  content: "\f16d";
}
.sociales ul li a[href*="pinterest.com"]::before {
  content: "\f231 ";
}

/* DROPDOWN Y REDES SOCIALES */
.dropdown-sociales {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: #3f51b5; */
}
.dropdown-sociales .dropdown {
  flex: 1;
  order: 2;
}
@media screen and (min-width: 768px) {
  .dropdown-sociales {
    flex-direction: row;
  }
  .dropdown-sociales .dropdown {
    order: -1;
  }
}
