<header class="header hero">
    <div class="barra">
        <div class="contenedor">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo" class="logo-img">
            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-contenido">
        <div class="contenedor">
            <h1>Bienvenido a Blog de Viajes</h1>
        </div>
    </div>
</header>

<div class="contenedor">
    <main class="contenido-principal">
        <h2>Últimas Entradas</h2>
        <article class="entrada">
            <img src="../assets/img/01.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>Tips para viajar con poco presupuesto</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
        <article class="entrada">
            <img src="../assets/img/02.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>Todo lo necesario para tu viaje</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
        <article class="entrada">
            <img src="../assets/img/03.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>El equipo necesario para tomar las mejores fotografías</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
        <article class="entrada">
            <img src="../assets/img/04.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>Checklist para tu próximo viaje</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
        <article class="entrada">
            <img src="../assets/img/05.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>Los mejores lugares para visitar este otoño</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
        <article class="entrada">
            <img src="../assets/img/06.jpg" alt="texto entrada">
            <div class="contenido">
                <h3>Los mejores lugares para visitar con montañas</h3>
                <p>Publicado el: <span>19 Julio, 2018</span></p>
                <p>Por: <span>Blog Viajes</span></p>
                <a href="#" class="boton"> Leer más</a>
            </div>
        </article>
    </main>
    <section class="categorias">
        <ul>
            <li class="categoria">
                <a href="#"><i class="fas fa-map-pin"></i>Actividades</a>
            </li>
            <li class="categoria">
                <a href="#"><i class="fas fa-music"></i>Festivales</a>
            </li>
            <li class="categoria">
                <a href="#"><i class="fas fa-utensils"></i>Restaurantes</a>
            </li>
            <li class="categoria">
                <a href="#"><i class="fas fa-check"></i>Tips</a>
            </li>
        </ul>
    </section>
</div>
<!--.contenido-->

<footer class="footer">
    <div class="contenedor">
        <div class="nosotros caja">
            <h2>Sobre nosotros</h2>
            <p>
                Lorem ipsum ...
            </p>
        </div>
        <div class="entradas caja">
            <h2>Ultimas entradas</h2>
            <ul>
                <li>Algo de texto</li>
                <li>Algo de texto</li>
                <li>Algo de texto</li>
                <li>Algo de texto</li>
                <li>Algo de texto</li>
            </ul>
        </div>
        <div class="siguenos caja">
            <h2>Siguenos</h2>
            <nav class="sociales">
                <ul>
                    <li>
                        <a href="http://facebook.com"><span> Facebook</span></a>
                    </li>
                    <li>
                        <a href="http://twitter.com"><span> Twitter</span></a>
                    </li>
                    <li>
                        <a href="http://youtube.com"><span> YouTube</span></a>
                    </li>
                    <li>
                        <a href="http://instagram.com"><span> Instagram</span></a>
                    </li>
                    <li>
                        <a href="http://pinterest.com"><span> Pinterest</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <p class="copyright">Blog de Viajes. Flexbox 2021 &copy;</p>
</footer>
